@font-face {
    font-family: 'Orbitron';
    src: url('/assets/fonts/Orbitron-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: 'Orbitron';
    src: url('/assets/fonts/Orbitron-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
  }